.about {
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  
  
}

.about-image {
  height: 450px;
  background-color: #e5e7eb;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6b7280;
  font-size: 18px;
  overflow:hidden;
}

.about-image img {
  width:100%;
  height:100%;
  object-fit:cover;
}

.about-text h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.about-text p {
  font-size: 16px;
  line-height: 1.7;
  color: #444;
}

@media (min-width: 768px) {
  .about {
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }
  
  .about-image {
    flex: 1;
    height: 300px;
  }
  
  .about-text {
    flex: 1;
  }
}
