.contact {
  padding: 1.5em .8em
  text-align: center;
  width: 100%;
  
  
  margin:0 auto;

}

.contact h2 {
  font-size: 3rem;
  margin-bottom: auto;
}

.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  
  margin: 0 auto;
  flex-wrap:wrap;
}

@media (max-width: 650px){
  .contact-form{
    grid-template-columns: 1fr 1fr ;
    column-gap: 3em;
  }
} 

.contact input{
  height: 40px

}

.contact textarea {
  resize: vertical;
  min-height: 250px ;
  
}

.contact button {
  height:38px auto;
  flex: 1;
  
  padding: .5em .7em;
  border: none;
  border-radius: 25px;
  background-color: #38bdf8;
  color: #0f172a;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact button:hover {
  background-color: #2a1bfe
} 



 
