.contact {
  padding: 40px 20px;
  text-align: center;
  max-width:900vh;
  margin:0 auto;

}

.contact h2 {
  font-size: 28em;
  margin-bottom: auto;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400vh;
  margin: 0 auto;
  flex-wrap:wrap;
}

.contact input,
.contact textarea {
  padding: 12px 15px;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  font-size: 15em;
  width: 100%;
}

.contact textarea {
  resize: vertical;
  min-height: 200px auto;
  
}

.contact button {
  height:38px auto;
  width:auto;
  padding: 12px;
  border: none;
  border-radius: 25px;
  background-color: #38bdf8;
  color: #0f172a;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact button:hover {
  background-color: #0ea5e9;
}

@media (min-width: 768px) {
  .contact form {
    max-width: 500vh;
    display: flex;
    fkex-direction: column;
    flex-wrap: wrap;
  }
} 


@media ( max-width: 398px) {
  .contact form {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
  }
}


@media (min-width: 768px) {
  .contact form{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
    

 
