.contact {
  padding: 40px 20px;
  text-align: center;
  width: 90%;
  
  max-width:960px;
  margin:0 auto;

}

.contact h2 {
  font-size: 3rem;
  margin-bottom: auto;
}

.contact form {
  display: flex;
  gap: 15px;
  width: 95%;
  max-width: 930px;
  margin: 0 auto;
  flex-wrap:wrap;
}

.contact input,
.contact textarea {
  padding: 12px 15px;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  font-size: 1.4rem;
  fiex: 1;
}

.contact textarea {
  resize: vertical;
  min-height: 200px auto;
  
}

.contact button {
  height:38px auto;
  flex: 1;
  
  padding: 12px;
  border: none;
  border-radius: 25px;
  background-color: #38bdf8;
  color: #0f172a;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact button:hover {
  background-color: #2a1bfe
} 



 
