header {
  padding: 15px 20px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.logo {
  font-size: 20px;
  font-weight: 700;
  color: #0f172a;
}


.logo img{
  height: 40px;
  width: auto;
  object-fit: contain;
}
nav {
  display: flex;
  gap: 15px;
}

nav a {
  text-decoration: none;
  font-size: 14px;
  color: #475569;
}
  
