.services {
  padding: 60px 20px;
  background-color: #f5f5f5;
  
}

.services h3{
  font-size: 3rem;
  margin-bottom: .75em;
  
  text-align: center;
  
}

.service-cards {
  display: flex;
  width:100%;
  
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: #ffffff;
  padding: 25px;
  width: 30%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card h3 {
  margin-bottom: 15px;
  font-size: 20px;
}

.card p {
  font-size: 15px;
  line-height: 1.6;
  color: #555;
}



@media (min-width: 768px) {
  .service {
    flex-direction: column;
    align-items: center; 
    gap: 20px;
  }
}


@media (min-width: 768px) {
  .service-cards {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }
}
  
