.services {
  padding: 2em .5em,
  background-color: #f5f5f5;
  text-align: center;
  
}



.services h3{
  font-size: 3rem;
  margin-bottom: .75em;
  
  
  
}

.service-cards {
  display: flex;
  width:100%;
  
  justify-content: center;
  flex-wrap: wrap;
}


/* media query to make my service card stack in smaller screens */
@media (max-width: 650px){
  .service-cards{
    flex-direction: column;
    justify-content: space-between;
  }
  
}
      

.card {
  background-color: #ffffff;
  padding: 1em .3em;
  width: 32%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@media (max-width: 650px){
  .card{
    width: 100%;
    
  }
}

.card h3 {
  margin-bottom: 15px;
  font-size: 1.25rem;
}

.card p {
  font-size: 1rem;
  line-height: 1.4;
  color: #555;
}



@media (min-width: 768px) {
  .service {
    flex-direction: column;
    align-items: center; 
    gap: 20px;
  }
}


@media (min-width: 768px) {
  .service-cards {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }
}
  
